header{
    width: 1245px;
    height: 600px;
    flex-shrink: 0;
    background: #FFF8F3; 
}
.container{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
span{
    color:#FD6E0A; 
}
 .info{
    display: flex;
    text-align: center;
    list-style: none;
    font-size: large;
    
    
}
li{
    padding-left: 50px;
}
.first-banner{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

a{
    text-decoration: none;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    border: 0px;
    padding: 5px 10px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 580px;
    
}
 .banner .propic{
    width: 330px;
    height: 400px; 
    padding-bottom: 0px;
    padding-left: 100px;

 }
 .hello{
    font-size: 30px;
    color:#474747;
    margin-bottom: 10px;
 }
 .name{
    font-size: 50px;
    margin-top: 0px;
 }
 p{
    color: #474747;
 }
 .greet{
    padding-left: 100px;
 }
 .btn1{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #FD6E0A;
    color: white;
    font-family:Open Sans ;
 }   
.btn-new{
    color: #FD6E0A;
    background-color: #FFF8F3;
    border-color: #FD6E0A;
    
}
.btnn{
    border: none;
}
.abu{
    color:  #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    
}
.para{
    color:#757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    
}
.home{
    border-radius: 10px;
    background: #FFF8F3;
    padding-top: 50px;
    margin: 130px;
}